<% if collection.any? %>
<table class="table">
  <thead>
    <tr>
      <th class="first"><%= User.human_attribute_name :email %></th>
      <th class="last"></th>
    </tr>
  </thead>
  <tbody>
  <% collection.each do |r| %>
    <tr>
      <td class="first"><%= r.email %></td>
      <td class="last"><%= link_to "Show", resource_url(r) %> | <%= link_to "Destroy", resource_url(r), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="actions-bar wat-cf">
  <div class="actions">
    <%= link_to "Invite", new_user_invitation_url %>
  </div>
  <div class="pagination">
    <%= will_paginate @users %>
  </div>
</div>
<% end %>