<table>
<%= form_for(resource, :url => resource.new_record? ? collection_url : resource_url(resource)) do |f| %>
  <% if resource.errors.any? %>
  <tr>
    <td colspan="2">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this testa from being saved:</h2>
      <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </td>
  </tr>
  <% end %>
  <tr>
    <td><%= Project.human_attribute_name :name %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= Project.human_attribute_name :observations %></td>
    <td><%= f.text_area :observations %></td>
  </tr>
  <tr>
    <td><%= Project.human_attribute_name :status %></td>
    <td><%= f.text_area :status %></td>
  </tr>
  <tr>
    <td><%= Project.human_attribute_name :paid %></td>
    <td><%= f.check_box :paid %></td>
  </tr>
  <tr>
    <td><%= Project.human_attribute_name :owner_email %></td>
    <td><%= f.text_field :owner_email %></td>
  </tr>
  <tr>
    <td><%= Project.human_attribute_name :owner_organization %></td>
    <td><%= f.text_field :owner_organization %></td>
  </tr>
  <tr>
    <td><%= Project.human_attribute_name :users %></td>
    <td><%= collection_select :user, :user_ids, User.find(:all, :order => 'email ASC'), :id, :email, { :selected => @project.user_ids }, { :multiple => true, :name => 'project[user_ids][]' } -%></td>
  </tr>
  <tr>
    <td colspan="2"><%= f.submit(:class => 'button') %></td>
  </tr>
<% end %>
</table>